:root {
  --primary-color: white;
  --secondary-color: #ed5f5f;
  --bg: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background: var(--bg);
  color: var(--primary-color);
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/*navbar styles*/
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 7%;
  background-color: rgba(0, 0, 0, 0.9);
  color: var(--primary-color);
  position: fixed;
  border-bottom: 1px 10px 1px var(--bg);
}

.navbar img {
  width: 120px;
  height: auto;
}

.navbar p {
  display: none;
}

h1 {
  color: var(--primary-color);
  font-style: italic;
}

.navbar a {
  color: var(--primary-color);
  padding: 1rem;
  border-bottom: 0.5px solid var(--primary-color);
  border-color: transparent;
  transition: 300ms;
}

a:hover {
  border-color: var(--primary-color);
}

/*hero section styles*/
.hero {
  height: 100vh;
  width: 100%;
  background: url("src/hero-section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
  justify-content: left;
  padding: 12rem 10%;
  font-size: 2rem;
}

.btn {
  display: inline-block;
  padding: 0.7rem 2rem;
  background: var(--bg);
  color: var(--primary-color);
  margin-top: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 300ms;
  border: none;
  border-radius: 5px;
}
.btn:hover {
  background: var(--primary-color);
  color: var(--bg);
}
/*about section styles*/
.about {
  padding: 8rem 8%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-bottom: 1.5rem;
}

.about p {
  color: gray;
  line-height: 1.6rem;
  text-align: justify;
  margin-bottom: 6rem;
}

img.about-img {
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.5);
}

/*services section styles*/
.services {
  padding: 8rem 8%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.services p {
  color: gray;
  line-height: 1.6rem;
}

.service-cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
}
.services .card {
  text-align: center;
  background: var(--bg);
  border-radius: 10px;
  padding: 3rem;
  margin: 1rem;
  box-shadow: rgba(255, 255, 255, 0.5);
}

.card:hover {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
  transform: scale(1.01);
  transition: 300ms;
}

.card h3 {
  margin-bottom: 1rem;
}

img.service-icon {
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.card p {
  line-height: 1.4rem;
  color: gray;
}

/*contact section styles*/
.contact {
  padding: 4rem 8%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.form {
  margin-top: 10px;
  width: 48rem;
  background-color: gray;
  padding: 1rem 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.form input {
  height: 2rem;
  width: 32rem;
  margin: 1rem 0;
}

.form .textarea {
  height: 6rem;
  width: 32rem;
  margin: 1rem 0;
}

/*footer styles*/
footer {
  background: var(--bg);
  color: var(--primary-color);
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
}

/*Media Desktop*/
@media (max-width: 1280px) {
  .about img {
    width: 100%;
  }
  .service-cards {
    flex-direction: column;
  }
}

/*Media Tablet*/
@media (max-width: 900px) {
  .about img {
    width: 100%;
  }
  .service-cards {
    flex-direction: column;
  }
  .form {
    width: 100%;
  }
  .form input {
    width: 100%;
  }

  .form .textarea {
    width: 100%;
  }
}

/*Media Mobile*/
@media (max-width: 599px) {
  .navbar p {
    display: block;
    font-size: 0.9rem;
    margin-left: 1rem;
  }
  .nav-link {
    display: none;
  }
  .service-cards {
    flex-direction: column;
  }

  .about img {
    width: 100%;
  }

  .card:hover {
    box-shadow: 0 0 8px transparent;
    transform: scale(1.01);
    transition: 300ms;
  }

  .form {
    width: 100%;
  }
  .form input {
    width: 100%;
  }

  .form .textarea {
    width: 100%;
  }
}
